@import "tailwindcss";

@theme {
  --color-primary: #3a0861;
  --color-secondary: #d64322;
  --color-background: #302c64;
  /* User requested brand color */
  --color-surface: #3b3678;
  /* Slightly lighter for contrast */
  --color-text-main: #ffffff;
  --color-text-muted: #94a3b8;

  --font-sans: "Inter", "system-ui", "sans-serif";
}

:root {
  background-color: var(--color-background);
  color: var(--color-text-main);
}

/* Custom Scrollbar for KDS */
.kds-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.kds-scrollbar::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.02);
  border-radius: 10px;
}

.kds-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  transition: background 0.2s;
}

.kds-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.2);
}

/* Firefox */
.kds-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.1) rgba(255, 255, 255, 0.02);
}